<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <h1>Zoom Participant Monitor!</h1>
    <div class="container-fluid row" id="app">
        <div class="col">
        <ul>
            <li v-for="(p,idx) in plist">{{ p }} | <a href="#" @click.prevent="RemoveEmail(idx)">x</a></li>
            <li><input type="text" v-model="contact" @keyup="EmailKeyUp" /><a href="#" @click.prevent="AddEmail">+</a></li>
            <li>
                <button @click="SaveEmail">Save</button>
            </li>
        </ul>
        </div>
        <div class="col">
            <table width="100%" border="1" cellpadding="5" cellspacing="0">
                <thead>
                    <tr>
                        <th>Buổi</th>
                        <th>Tài khoản</th>
                        <th>Nhóm</th>
                        <th>Giờ vào</th>
                        <th>Giờ ra</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="p in timesheet">
                        <td>{{ p.topic }}</td>
                        <td>{{ p.username }}</td>
                        <td>{{ p.fc }}</td>
                        <td>{{ p.join_time }}</td>
                        <td>{{ p.leave_time }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
    window.OneSignal = window.OneSignal || [];
    OneSignal.push(function() {
        OneSignal.init({
        appId: "4a57b71f-39ef-466c-b3fe-b01e42b4cf89",
        });
    });
    </script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                plist: [],
                contact: "",
                timesheet: [],
            },
            watch: {
                // 'connections': function () {
                //     this.$nextTick(() => {
                //         $('table').dataTable();
                //     })
                // },
            },
            methods: {
                AddEmail() {
                    this.plist.push(this.contact);
                    this.contact = "";
                },
                EmailKeyUp(e) {
                    if(e.key=="Enter") this.AddEmail();
                },
                RemoveEmail(idx) {
                    this.plist.splice(idx,1);
                },
                SaveEmail() {
                    axios.post('/zoom/change',JSON.stringify(this.plist)).then(response => {
                        alert(response.data.message);
                    });
                },
            },
            mounted() {
                axios.get('/zoom/list').then(response => {
                    this.plist=response.data.userlist;
                });
                axios.get('/zoom/timesheet').then(response => {
                    this.timesheet=JSON.parse(response.data);
                });
            }
        });
    </script>
</body>
</html>